// CHECKBOX
.styleable-checkbox{
	display:inline-block;
	width:15px;
	height:15px;
	background:#EFEFEF;
	cursor:pointer;
	border-radius:2px;
	box-shadow: inset 0 0 1px #CFCFCF;

	&:hover{
		box-shadow:inset 0 0 2px #999;
	}

	&:active{
		background: #BFBFBF;
	}

	&.checked{
		// Check Mark designed by Hrag Chanchanian from The Noun Project
		// Check Mark icon is available at http://thenounproject.com/noun/check-mark/#icon-No835, accessed at November 18th, 2012
		background:url(../images/sprites/checkbox-checked.png) #EFEFEF;

		&:active{
			background:url(../images/sprites/checkbox-checked.png) #BFBFBF;			
		}
	}
}


// TOTALLY UNRELATED
// THESE STYLES BELOW IS FOR DEMO PRESENTATION PURPOSE
body{
	font: 14px 'Georgia', serif;
	color: #444;
	line-height:1.6;
}

h2{
	margin-top:50px;
}

.desc{
	max-width: 750px;
}

input[type="text"]{
	display:block;
}

pre{
	background:#EFEFEF;
	border:1px dotted #CFCFCF;
	padding: 10px;
}

.attention{
	background: #f9f2bd;
	padding:10px 20px;
	border:1px dotted #c6a035;
}